{% extends 'base.html' %}

{% block 'content' %}

<div class="container my-4">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for product in CartProducts %}
            <tr>
                <th scope="row">{{ i }}</th>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>@mdo</td>
            </tr>
            {% endfor %}
            {% endwith %}
        </tbody>
    </table>
</div>

{% endblock %}