{% extends 'base.html' %}

{% block 'content' %}

<div class="container my-4">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Product Id</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for product in CartProducts %}
            <tr>
                <th scope="row">#{{ product.id }}</th>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td><input type="number" class="form-control w-25" maxlength="1" size="4"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}