{% extends 'base.html' %}
{% block 'content' %}

<div class="container">

    <div class="card mx-3 my-5" style="width: 20rem;">
        <img class="border-rounded mx-2 my-2" src="{{product.image}}">
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ product.item_type}}</h6>
            <p class="card-text">{{ product.desc }}</p>
            <p class="card-text"><b>$ {{ product.price}}</b></a>
                <br>
                <button type="button" class="my-3 btn btn-primary">Buy Now</button>
        </div>
    </div>
</div>

{% endblock %}