{% extends 'base.html' %}

{% block 'content' %}


    {% if isadded %}
    <div
    class="py-3 px-5 mb-4 bg-green-100 text-green-900 text-sm rounded-md border border-green-200 flex items-center justify-between"
    role="alert"
  >
    <span
      ><b>Product added to cart successfully!</b></span
    >
    <button
      class="w-4"
      type="button"
      data-dismiss="alert"
      aria-label="Close"
      onclick="this.parentElement.remove();"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          strokeWidth="{2}"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
</div>
</div>

    {% endif %}
    <div>
        <section class="text-gray-600 body-font">
            <div class="px-5 py-24 mx-auto">
                <div class="flex flex-wrap mx-20 w-full">
                    {% for product in products %}
                    <div class="lg:w-1/4 md:w-1/2 p-2 w-full mb-10 mx-3 border border shadow-xl rounded-md border-gray-300">
                        <a href="{% url 'details' product.id  %}" class="block relative h-50 w-100 rounded overflow-hidden">
                            <img alt="ecommerce" class="w-full h-full block" src="{{product.image}}">
                        </a>
                        <div class="mt-4">
                            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{ product.item_type }}</h3>
                            <h2 class="text-gray-900 title-font text-lg font-medium"><strong>{{ product.title }}</strong></h2>
                            <p class="mt-1">${{ product.price }}</p>
                            <br></br>
                            <p class="mt-1">Quantity :</p>
                                <form method="post" action="{% url 'addcart' %}">
                                    {% csrf_token %}
                                <input type="number" value="1" name="quantity" class="form-control block w-20 px-3 py-1.5 text-base font-normal text-gray-700 border border-solid border-gray-300 rounded"/>
                                <input type="number" value="{{ product.id }}" name="id" class="invisible"/>
                                <button type="submit" class="text-white bg-blue-500 py-2 px-2 mt-3 float-left focus:outline-none hover:bg-blue-600 rounded">Add to Cart</button>
                            </form>  
                            </div>
                        </div>
                        {% endfor %}
            </div>
        </div>
        </section>
    </div>

        {% endblock %}
        
        
        