{% extends 'base.html' %}

{% block 'content' %}

<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col">
            <div class="card mt-5 mx-4" style="width: 18rem;">
                <a href="details/{{ product.id }}">
                    <img src="{{ product.image }}" style="height:19rem; width:18rem;" class="card-img-top" alt="...">
                </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{ product.desc }}</p>
                        <br/>
                        <strong>price :</strong>
                        <p class="card-text">{{ product.price }}
                        <p>
                            <form method="POST" action="addcart/">
                                {% csrf_token %}
                                <input value={{ product.id }} class="invisible" type="number" name="id"/>
                                <div class="row">
                                <div class="col">
                                    <label for="quantity" class="form-label">Quantity </label>
                                    <input value="1" class="form-control w-10" type="number" name="quantity" id="quantity"/>
                                </div>   
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Add To Cart</button>
                                </div>    
                            </div>
                            </form>
                    </div>
                </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}